.itemlist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1.8px solid #963813;
  padding-bottom: 20px;
  align-items: center;
  background-color: white;
}

.itemname {
  margin-top: 10px;
  margin-bottom: 10px;
}

.itemprice {
  color: #a7431c;
  font-weight: bold;
}

.itemamount {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 7px;
  margin-left: 50px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;

  /* box-shadow: 1px 1px 3px 1px #dadce0; */
  /* padding: 0px, 10px; */
}

.minplusbtn > button {
  color: #a7431c;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  width: 45px;
  font-size: 25px;
}

.minplusbtn > button:hover {
  cursor: pointer;
}
