.formbtn {
  height: 30px;
  width: 100px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  background-color: #a7431c;
  margin-top: 10px;
}

.formbtn:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
}
